In [1]:
def square(x):
    return x ** 2

print(square(10))

100

In [2]:
sq_func = lambda x: x ** 2

print(sq_func(10))

100

In [3]:
i_num_list = range(1, 11)
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字列リスト:", s_num_list)

文字列リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [4]:
for s in map(lambda i: "No." + str(i), range(1,11)):
    print(s, end="  ")

No.1  No.2  No.3  No.4  No.5  No.6  No.7  No.8  No.9  No.10

In [5]:
for e in filter(lambda i: i%2==0, range(1,11)):
    print(e, end="  ")

2  4  6  8  10

In [6]:
def is_even(x):
    '''偶数なら Ture'''
    return x % 2 == 0

for e in filter(is_even, range(1,11)):
    print(e, end="  ")

2  4  6  8  10

In [7]:
pairs = [(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'),(6,'top'),(5, 'bottom')]
print(pairs)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [8]:
pairs.sort()
print(pairs)

[(1, 'up'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top')]

In [10]:
pairs.sort(key=lambda x: x[1])
print(pairs)

[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top'), (1, 'up')]

In [13]:
pairs.sort(key=lambda x: x[1], reverse=True)
print(pairs)

[(1, 'up'), (6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [14]:
n = 3
func = lambda n: "even" if (n % 2 == 0) else "odd"
func(n)

'odd'

In [15]:
n = 3
x = "even" if (n % 2 == 0) else "odd"
print(x)

odd

In [16]:
n = 3
if (n % 2 == 0):
    x = "even"
else:
    x =  "odd"
print(x)

odd

In [17]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
"{:04}".format(5)

'0005'

In [19]:
str_num_list = map(lambda x: "{:04}".format(x), range(1, 8))
str_num_list

In [20]:
print(list(str_num_list))

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [26]:
import random
def generate_students_data(num_sutdents=10):
    students_data = []
    for i in range(num_sutdents):
        name = 'n' + str(random.randint(10,50))
        height = random.randint(150, 190)
        weight = random.randint(50,80)
        students_data.append((name, height, weight))
        if i == 0:
            print('i , name, height, weight')
        if i < 2 or i == num_sutdents - 1:
            print(i, name, height, weight)
        elif i == 2:
            print('...')
    return students_data

students_data = generate_students_data(10)

i , name, height, weight
0 n35 163 66
1 n27 177 69
...
9 n27 152 69

In [29]:
students_data

[('n35', 163, 66),
 ('n27', 177, 69),
 ('n32', 151, 67),
 ('n33', 183, 76),
 ('n25', 151, 58),
 ('n24', 165, 58),
 ('n26', 169, 51),
 ('n18', 190, 66),
 ('n29', 172, 53),
 ('n27', 152, 69)]

In [30]:
students_by_height = sorted(students_data, key=lambda s: s[1])
students_by_weight = sorted(students_data, key=lambda s: s[2])

In [31]:
print('\nSort by height')
for student in students_by_height:
    print(student)

Sort by height
('n32', 151, 67)
('n25', 151, 58)
('n27', 152, 69)
('n35', 163, 66)
('n24', 165, 58)
('n26', 169, 51)
('n29', 172, 53)
('n27', 177, 69)
('n33', 183, 76)
('n18', 190, 66)

In [32]:
print('\nSort by weight')
for student in students_by_weight:
    print(student)

Sort by weight
('n26', 169, 51)
('n29', 172, 53)
('n25', 151, 58)
('n24', 165, 58)
('n35', 163, 66)
('n18', 190, 66)
('n32', 151, 67)
('n27', 177, 69)
('n27', 152, 69)
('n33', 183, 76)