In [1]:
import sqlite3

# sample.db という名前のデータベースファイル
db = 'samlpe.db'

# データベースに接続：Connectionオブジェクトを作成
# データベースがすでに存在するときはそのまま接続
# データベースがないときは新しく作成して接続
con = sqlite3.connect(db)

# カーソルオブジェクトを作成    
csr = con.cursor()

# テーブルを作成
sql = 'create table Employee(name,email,department,position);'
csr.execute(sql)

# 保存
con.commit()

# 接続を終了
con.close()

In [4]:
# データの追加・読み取り・更新・削除
import sqlite3

# sample.db という名前のデータベースファイル
db = 'sample.db'

# データベースに接続
con = sqlite3.connect(db)

# カーソルオブジェクト作成
csr = con.cursor()

# テーブルにデータを格納
sql = "insert into Employee(name, email, department, position) values('Yamada', 'yamada@abcxyz.co.jp', 'Sales', 'staff');"
csr.execute(sql)
sql = "insert into Employee(name, email, department, position) values('Suzuki', 'suzuki@abcxyz.co.jp', 'Development', 'staff');"
csr.execute(sql)

# この時点の内容確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブルからデータを削除
sql = "delete from Employee where name = 'Yamada';"
csr.execute(sql)

# この時点の内容確認
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# テーブル中のデータを更新
sql = "update Employee set position = 'Manager' where name = 'Suzuki';"
csr.execute(sql)

# 保存
con.commit()

# 内容を読み取って表示
sql = "select * from Employee;"
csr.execute(sql)
print(csr.fetchall())

# 接続を終了
con.close()

OperationalError: no such table: Employee

In [ ]:
csr.execute('drop table data_set')
con.commit()

In [6]:
import sqlite3

db = 'tast.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute('create table human(name, nickname);')

csr.execute("insert into human(name) values('Ichiro');")
csr.execute("insert into human(name) values('Jiro');")
csr.execute("insert into human(name) values('Saburo');")

csr.execute("update human set nickname = 'Lazer' where name = 'Ichiro';")

csr.execute("select * from human")
print(csr.fetchall())

con.commit()
con.close()

[('Ichiro', 'Lazer'), ('Jiro', None), ('Saburo', None)]

In [7]:
import sqlite3

db = 'tast.db'
con = sqlite3.connect(db)
csr = con.cursor()

csr.execute("update human set nickname = 'Lazer' where name = 'Jiro';")

csr.execute("delete from human where nickname = 'Lazer';")

csr.execute("select * from human;")
print(csr.fetchall())

con.commit()
con.close()

[('Saburo', None)]